{% extends "crazysearch/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block app_navigation_items %}
<!--The Hydroservers are added to this box-->


<br>


<div class="accordion" id="groups_hydroservers">

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0" style= "width:120%">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Hydro Groups Added
        </button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddGroupServer"> <span class="glyphicon glyphicon-plus"></span>
        <button class="btn btn-danger" id="btn-delete-hydroserver-group"> <span class="glyphicon glyphicon-trash"></span>
        <button class="btn btn-success" data-toggle="modal" data-target="#modalKeyWordSearch"> <span class="glyphicon glyphicon-search"></span>

      </h2>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#groups_hydroservers">
      <div class="card-body">
        <div id="current-Groupservers">
            <!-- <ul id="current-Groupservers-list"></ul> -->
        </div>
      </div>
    </div>
  </div>

   <div class="accordion" id="accordion_servers">
     <div class="card">
       <div class="card-header" id="headingOne">
         <h5 class="mb-0" style= "display:inline-block; width:80%">
           <button class="btn btn-primary" data-toggle="collapse" data-target="#current-servers" aria-expanded="false" aria-controls="current-servers"style= "width:100%" >
             <b>HydroServers Added</b>
          </h5>
          <input id="sG" type="checkbox" data-toggle="toggle" data-on="<span class='glyphicon glyphicon-signal'></span>" data-off="<span class='glyphicon glyphicon-signal'></span>" data-size="small" data-onstyle = "danger">

       </div>
       <div class="card-body">
         <div id="current-servers" class="collapse show" aria-labelledby="headingOne" data-parent="#groups_hydroservers">
           <ul id="current-servers-list"></ul>
         </div>
       </div>
     </div>
   </div>


</div>


{% include "crazysearch/sideContent.html" %}

{% endblock %}

{% block app_content %}
<!-- <div id="content_map"> -->
<!-- <div id="container_map"> -->
  <div id="map" class="map">

  </div>
<!-- </div> -->

  <div id="graph">

    <div id="options">
      <h3 id= "siteName_title"> Select a Station</h3>
      <p> Variables</p>
      <select id= "variables_graph" class="selectpicker" data-live-search="true" data-style="btn-info" width: '100%'>
        <option > No Variables Available . . .</option>
        <!-- <option >Hot Dog, Fries and a Soda</option>
        <option>Burger, Shake and a Smile</option>
        <option>Sugar, Spice and all things nice</option> -->
      </select>
      <br>
      <button type="button" id= "reset_graphs" class="btn btn-danger">Reset Plot</button>
      <br>
      <br>
      <p>Type of plots</p>
      <select class="selectpicker">
        <option>Select your plot . .</option>
        <option>Scatter</option>
        <option>Whisker and Box Plot</option>
        <option>Option 3</option>
        <option>Option 4</option>
      </select>

    </div>
    <img id="graphAddLoading" class="view-file hidden" src="{% static 'crazysearch/images/loader.gif' %}"  />

    <div id="plots">
    </div>

  </div>
  <!-- <div id="graph" style="display:none"><h1>HOLA</h1></div> -->
<!-- </div> -->

 <!-- <div> -->
   <!-- Popup -->
   <!-- <div id="popup"></div> -->
 <!-- </div> -->

{% endblock %}

{# Use the after_app_content block for modals #}

{% block app_content_wrapper_override %}

{{ block.super }}
{% include "crazysearch/modals/manageServers.html" %}
{% include "crazysearch/modals/manageCentral.html" %}
{% include "crazysearch/modals/addCentral.html" %}
{% include "crazysearch/modals/delCentral.html" %}
{% include "crazysearch/modals/addHydroserver.html" %}
{% include "crazysearch/modals/delServer.html" %}
{% include "crazysearch/modals/addGroupHydroserver.html" %}
{% include "crazysearch/modals/keywordSearch.html" %}





{% endblock %}


{% block after_app_content %}
  <!-- Example Modal -->

{% endblock %}

{% block app_actions %}
<div id="zoomlevel"></div>

{% endblock %}
