.header-btns p{
  font-size: 1.1em;
  padding-top: 5%;
  font-weight: bold;
}
/* #content_map{
  width: 100%;
  display:flex;
  height: 200%;
  flex-direction: column;
} */

/* #container_map{
  width: 100%;
  height: 100%;
  flex:1 1 70%;
  order: 1;

} */
#app-content-wrapper #app-content{
  height: 100%;
  /* when the graph is on */
}

#inner-app-content{
  width: 100%;
  display:flex;
  height: 100%;
  flex-direction: column;
  padding: 0 0 0 0;
  /* position: fixed; */
}

#map{
  width: 100%;
  height: 100%;
  /* position: fixed; */
  flex:1 1 70%;
  order: 1;
  overflow-y: hidden;
}
#graph{
  flex: 1 1 30%;
  order: 2;
  width: 100%;
  height: 100%;
  display: none;
}

#options{
  padding-left: 2%;
  flex: 1 1 20%;
  order: 1;
  width: 100%;
  height: 100%;
}

#plots{
  flex: 1 1 80%;
  order: 2;
  width: 100%;
  height: 100%;
}


/* #map {
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: -15px;
    margin-top: -20px;
} */


.hmbrgr-div {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}

.hmbrgr-div:hover {
    box-shadow: 0 1px 1px 1px #bbbbbb;
}

.hmbrgr-div img {
    width: 18px;
    margin: 2px;
}

.hmbrgr-open {
    background-color: #a1a1a1;
}

#current-servers {
    width: 100%;
    height: auto;
    background-color: #D3D3D3;
    /* background-color: black; */
    overflow-y: auto;
}

#current-servers ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

#current-servers li {
    position: relative;
    list-style: none;
    padding: 5px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}
#current-Groupservers {
    width: 100%;
    height: 300px;
    background-color: #D3D3D3;
    overflow-y: auto;
}

#current-Groupservers ul {
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

#current-Groupservers li {
    position: relative;
    list-style: none;
    padding: 5px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
}
#current-Groupservers li ul {
  display: block;
}


.server-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 218px;
    word-break: break-all;
}
.group-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 218px;
    word-break: break-all;
}

#pop-up_description2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_groups_tag{
  color: #cc2418;
  align-items: center;
}
#app-content-wrapper #app-content #app-navigation{
  padding: 2% 0.2%;
  overflow-x: hidden;
}
#app-content-wrapper #app-content #app-navigation .nav{
  overflow-x: hidden;
}
#app-content-wrapper{
  overflow-y: hidden;
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

#options{
  margin: 0 0 0 0;
  /* padding: 0 0 0 0; */
}
#options p {
  /* font-weight: bold; */
}
#plots{
  padding:  0 0 0 0;

}
